anyio
argon2-cffi
argon2-cffi-bindings
arrow
astroid
asttokens
async-lru
attrs
Babel
bcrypt
beautifulsoup4
bleach
blinker
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
contourpy
cryptography
cycler
datadivecsv
dbus-python
debugpy
decorator
defer
defusedxml
dill
distro
distro-info
duplicity
exceptiongroup
executing
fasteners
fastjsonschema
fonttools
fqdn
future
httplib2
idna
importlib-metadata
ipykernel
ipython
isoduration
isort
jedi
jeepney
Jinja2
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
keyring
kiwisolver
language-selector
launchpadlib
lazr.restfulclient
lazr.uri
lockfile
louis
macaroonbakery
Mako
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mistune
monotonic
more-itertools
nbclient
nbconvert
nbformat
nest-asyncio
netifaces
notebook
notebook_shim
numpy
oauthlib
olefile
overrides
packaging
pandas
pandocfilters
paramiko
parso
pexpect
Pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pycairo
pycparser
pycups
Pygments
PyGObject
PyJWT
pylint
pymacaroons
PyNaCl
pyparsing
pyRFC3339
python-apt
python-dateutil
python-debian
python-json-logger
pytz
pyxdg
PyYAML
pyzmq
referencing
reportlab
requests
rfc3339-validator
rfc3986-validator
rpds-py
scipy
seaborn
SecretStorage
Send2Trash
six
sniffio
soupsieve
stack-data
systemd-python
terminado
tinycss2
tomli
tomlkit
tornado
traitlets
types-python-dateutil
typing_extensions
tzdata
ubuntu-advantage-tools
ubuntu-drivers-common
ufw
unattended-upgrades
uri-template
urllib3
usb-creator
wadllib
wcwidth
webcolors
webencodings
websocket-client
xdg
xkit
zipp